.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #dc72d8, #f0c5f0 48%, #399beb);
}

.todo-form-container{
  display: flex;
  flex-direction:column;
  gap: 10px;  
}
.todo-form {
  flex-direction:row;
}
@media screen and (min-width: 600px){
  .todo-form-container{
    padding:5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.todo-input {
  margin: 1.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 9px;
}

.button-add {
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius:10px;
  cursor:pointer;
}
.button-add2{
  background: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor:pointer;
  color: #d45cd0;
}

.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.table-todo{
  margin: auto;
}
.table-completed{
  margin: auto;
}
.rows {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}
td{
width:100px;
text-align:center;
border:0px solid #ea85d3;
padding:15px
}


